<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


<div class="banner-bottom">
    <div class="container">
        <div class="col-md-6 w3ls_banner_bottom_left">
            <div class="w3ls_banner_bottom_left1">
                <span class="glyphicon" aria-hidden="true"></span>
            </div>
            <div class="w3ls_banner_bottom_right1">
                <h2>Lập trình website</h2>
                <p>Pellentesque convallis diam consequat magna vulputate malesuada.
                    Cras a ornare elit. Nulla viverra pharetra sem, eget pulvinar neque pharetra ac.</p>
                <div class="w3l_more">
                    <a href="#" class="button button--nina" data-text="Learn more" data-toggle="modal"
                        data-target="#myModal">
                        <span>L</span><span>e</span><span>a</span><span>n</span>
                        <span>m</span><span>o</span><span>r</span><span>e</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 w3ls_banner_bottom_right">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="agileits_w3layouts_banner_bottom_grid">
                                <label for=""> Website 1<img src="images/1.jpg" alt=" " class="img-responsive" /></label>
                            </div>
                        </li>
                        <li>
                            <div class="agileits_w3layouts_banner_bottom_grid">
                                <img src="images/2.jpg" alt=" " class="img-responsive" />
                            </div>
                        </li>
                        <li>
                            <div class="agileits_w3layouts_banner_bottom_grid">
                                <img src="images/3.jpg" alt=" " class="img-responsive" />
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>